@model RoleTOP_MVC.ViewModels.InfoEventoViewModel
<main>
        <div class="resumo-adm">
            <div>
                <p class="titulo-resumo">@Model.evento.Cliente.Email</p>
            </div>
            
            <div class="banner-evento">
                    <p class="info-titulo">Banner do evento:</p>
                    <img src="Img/Pink floyd.png">
                </div>

                <p class="info-titulo">Especificações do Evento</p>
            <div class="info-evento">
                <table>
                <tr>
                    <th>Nome do Evento:</th><td>@Model.evento.NomeEvento</td>
                </tr>
                <tr>
                    <th>Tipo do Evento:</th><td>@Model.evento.TipoEvento</td>
                </tr>
                <tr>
                    <th>Privacidade</th><td>@Model.evento.Privacidade</td>
                </tr>
                <tr>
                    <th>Qtd. de Convidados:</th><td>@Model.evento.QtdConvidados</td>
                </tr>
                <tr>
                    <th>Data do Evento:</th><td>@Model.evento.DataDoEvento</td>
                </tr>
                <tr>
                    <th>Serviços adicionais:</th><td>@Model.evento.SvcAdicionais</td>
                </tr>
                <tr>
                    <th>Descrição do Evento:</th><td>@Model.evento.DescricaoEvento</td>
                </tr>
                <tr>
                    <th>Forma de Pagamento:</th><td>@Model.evento.FormaPagamento</td>
                </tr>
                <tr>
                    <th>Tipo do Evento:</th><td>@Model.evento.TipoEvento</td>
                </tr>
                <tr>
                    <th>Valor TOTAL pago:</th><td>R$ @Model.evento.PrecoTotal</td>
                </tr>
            </table>
            </div>
            <div class="btn">
                <a href='@Url.Action("Aprovar","Agendamento", new {id = @Model.evento.ID})'>Aceitar</a>
                <a href='@Url.Action("Recusar","Agendamento", new {id = @Model.evento.ID})'>Recusar</a>
            </div>
        </div>
</main>