@model RoleTOP_MVC.ViewModels.UsuarioViewModel
<main>
        <p class="titulo-pedidos">Pedidos:</p>
        <p class="divisoria-rodape"></p>
        @if(Model.Agendamentos.Any()){
            
            @foreach (var pedido in Model.Agendamentos)
            {
            <div class="resumo-usuario">
                <div>
                    <p class="titulo-resumo">@pedido.NomeEvento</p>
                </div>
                <div>
                    <table>
                        <tr>
                            <th>Espaço alugado para o dia:</th>
                            <td>@pedido.DataDoEvento</td>
                        </tr>
                        <tr>
                            <th>Data da compra:</th>
                            <td>@pedido.DataDoAgendamento</td>
                        </tr>
                        <tr>
                            <th>Serviços adicionais:</th>
                            <td>@pedido.SvcAdicionais</td>
                        </tr>
                        <tr>
                            <th>Valor TOTAL pago:</th>
                            <td>R$ @pedido.PrecoTotal</td>
                        </tr>
                        <tr>
                            <th>Status do Pedido:</th>
                            <td>@pedido.StatusString</td>
                        </tr>
                    </table>
                    <p class="info-resumo"><i class="fas fa-exclamation-circle"></i>Em caso de cancelamento de evento, após
                        passar 3 dias da data da compra, será aplicada uma multa de 50% do valor total.</p>
                </div>
                <div class="btn-usuario">
                    <a href="#" class="btn-cancelar">Cancelar Evento</a>
                </div>
            </div>
            }
        }
        else{
        <div class="nenhuma-reserva">
            <div>
                <p class="info-vazio"><i class="fas fa-exclamation-circle"></i>Não há nenhuma reserva do salão em sua
                    conta.</p>
            </div>
        </div>
        }
        <p class="divisoria-rodape"></p>
        <div class="btn-minhaconta">
            <p class="titulo-pedidos">Opções:</p>
            <a asp-controller="Cliente" asp-action="Logoff" class="btn">Sair (logout)<i class="fas fa-angle-right"></i></a>
            <a asp-controller="Cliente" asp-action="ExcluirConta" class="btn">Excluir conta<i class="fas fa-angle-right"></i></a>
        </div>

        <p class="divisoria-rodape"></p>
    </main>